<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yumao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{34,26}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{34,26}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{42,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{42,36}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{56,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{56,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{60,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{60,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{60,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{62,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{64,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{66,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>yumao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{58,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birdbao.png</string>
            <key>size</key>
            <string>{62,681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518f48309bb1e6bfa99c1f1b15d07ff8:1/1$</string>
            <key>textureFileName</key>
            <string>birdbao.png</string>
        </dict>
    </dict>
</plist>
