<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>shaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,75},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>shaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,335},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>shaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,335},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>shaizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,149},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>shaizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,335},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>shaizi_anmi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,173},{76,72}}</string>
                <key>offset</key>
                <string>{-50,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,72}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,253},{162,74}}</string>
                <key>offset</key>
                <string>{-8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{162,74}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{166,86}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,45},{166,86}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,118}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{178,118}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,101},{170,70}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,58},{170,70}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{172,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{172,100}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{170,98}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{170,98}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,223},{166,90}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,38},{166,90}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,173},{166,78}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{166,78}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{174,78}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{174,78}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shaizi_anmi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,253},{164,80}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,53},{164,80}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shaizi.png</string>
            <key>size</key>
            <string>{504,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993809292f4b1655ebaa9ef7e7450c10:98c3dfd0fa21929414eef5ec9611e031:e9777e4e5a51e4f5a76346875004ffbd$</string>
            <key>textureFileName</key>
            <string>shaizi.png</string>
        </dict>
    </dict>
</plist>
