<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qipao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1803},{132,56}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{132,56}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1740},{192,62}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{192,62}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1675},{228,90}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{228,90}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{230,94}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{230,94}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1485},{230,94}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{230,94}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{242,94}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{242,94}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{244,96}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{244,96}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{244,98}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{244,98}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{244,98}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{244,98}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{244,94}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{244,94}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1101},{244,96}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{244,96}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{260,104}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{260,104}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{262,110}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{262,110}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,112}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{262,112}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{260,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{260,120}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{260,90}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{260,90}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{262,90}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{262,90}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{260,90}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{260,90}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{254,86}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{254,86}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>qipao20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{256,90}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{256,90}}</string>
                <key>sourceSize</key>
                <string>{290,122}</string>
            </dict>
            <key>shuipao-xin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1887},{142,124}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{142,124}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1914},{132,100}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{132,100}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1803},{140,110}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{140,110}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1887},{144,114}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{144,114}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{152,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{152,120}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin06.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,697},{156,128}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{156,128}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,697},{156,128}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{156,128}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin08.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,283},{162,132}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{162,132}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin09.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,416},{172,142}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{172,142}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,826},{176,148}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{176,148}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1285},{182,150}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{182,150}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1130},{186,154}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{186,154}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1436},{190,154}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{190,154}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,975},{188,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{188,154}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1591},{192,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{192,148}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin16.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{164,142}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{164,142}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin17.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,628},{162,68}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,80},{162,68}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin18.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,214},{164,68}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,80},{164,68}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin19.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,145},{164,68}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,80},{164,68}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin20.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,559},{162,68}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,80},{162,68}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>shuipao-xin21.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,559},{162,68}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,80},{162,68}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuipao.png</string>
            <key>size</key>
            <string>{437,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1012800eac798d08c9aa01aa0636d276:1/1$</string>
            <key>textureFileName</key>
            <string>shuipao.png</string>
        </dict>
    </dict>
</plist>
