<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,694},{60,76}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,568},{64,78}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{64,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,488},{64,78}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{64,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,66},{68,78}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{68,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,644},{84,92}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,550},{106,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{106,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,472},{106,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{106,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,566},{90,92}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{90,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qq_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,738},{66,34}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{66,34}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,62}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{80,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,488},{94,84}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{94,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{92,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{92,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,730},{84,74}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,32},{84,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,574},{92,58}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{92,58}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,444},{118,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{118,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>qq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{150,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,634},{58,92}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,26},{58,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,372},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{114,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,352},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,252},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,324},{118,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,232},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{118,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>za_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{114,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,694},{48,62}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{48,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,742},{58,60}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{58,60}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{98,94}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{98,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{132,124}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{132,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,136},{114,108}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{114,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,648},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,658},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{88,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,658},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{88,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>zt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{66,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{66,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{140,100}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{120,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{120,94}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{122,96}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{122,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,222},{120,100}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{120,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{122,116}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{122,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,182},{122,48}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{122,48}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>zt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,128},{122,52}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{122,52}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>throwThing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97c759d09a7088e368ba3ffa5601dc8a:1/1$</string>
            <key>textureFileName</key>
            <string>throwThing.png</string>
        </dict>
    </dict>
</plist>
