<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,971},{81,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,46},{81,58}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{227,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{227,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>bao2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,107},{36,37}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{36,37}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,921},{50,47}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,57},{50,47}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,383},{134,119}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{134,119}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,383},{134,119}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{134,119}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,251},{172,131}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{172,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,515},{178,131}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{178,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,119},{182,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{182,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,251},{182,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{182,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,119},{184,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{184,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,119},{184,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{184,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,251},{184,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{184,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,119},{184,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{184,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,383},{182,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{182,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,383},{172,131}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{172,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,647},{162,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{162,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,647},{162,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{162,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,515},{154,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{154,131}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>bao2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,518},{140,129}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{140,129}}</string>
                <key>sourceSize</key>
                <string>{184,149}</string>
            </dict>
            <key>cuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1033},{93,62}}</string>
                <key>offset</key>
                <string>{-99,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{93,62}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,251},{131,72}}</string>
                <key>offset</key>
                <string>{-80,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,43},{131,72}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,112}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{265,112}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,112}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{265,112}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{243,116}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{243,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{237,116}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{237,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{229,116}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{229,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,119},{191,116}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{191,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,518},{163,116}}</string>
                <key>offset</key>
                <string>{64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{163,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,518},{163,116}}</string>
                <key>offset</key>
                <string>{64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{163,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,751},{117,116}}</string>
                <key>offset</key>
                <string>{87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,870},{109,100}}</string>
                <key>offset</key>
                <string>{91,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,16},{109,100}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1037},{107,98}}</string>
                <key>offset</key>
                <string>{92,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,18},{107,98}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1042},{101,96}}</string>
                <key>offset</key>
                <string>{92,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,20},{101,96}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1050},{95,86}}</string>
                <key>offset</key>
                <string>{90,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,30},{95,86}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1050},{95,86}}</string>
                <key>offset</key>
                <string>{90,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,30},{95,86}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>cuan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1053},{85,84}}</string>
                <key>offset</key>
                <string>{88,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,32},{85,84}}</string>
                <key>sourceSize</key>
                <string>{291,116}</string>
            </dict>
            <key>quan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,647},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{44,42}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,647},{84,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{84,78}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,778},{120,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{120,110}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,647},{150,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,383},{152,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,383},{152,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,914},{152,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,779},{152,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,782},{148,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,917},{142,132}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,236},{132,124}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{132,124}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,236},{132,124}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{132,124}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>quxian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{104,36}}</string>
                <key>offset</key>
                <string>{-86,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{104,36}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{104,36}}</string>
                <key>offset</key>
                <string>{-86,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{104,36}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,782},{124,52}}</string>
                <key>offset</key>
                <string>{-69,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,56},{124,52}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,369},{126,52}}</string>
                <key>offset</key>
                <string>{-47,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,56},{126,52}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,648},{122,102}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{122,102}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,928},{112,108}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1050},{88,108}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{88,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1050},{88,108}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{88,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,971},{70,108}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,827},{76,108}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,751},{118,104}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,4},{118,104}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,369},{140,104}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,4},{140,104}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,510},{136,106}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,2},{136,106}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian14.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,510},{136,106}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,2},{136,106}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian15.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,647},{130,108}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian16.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,928},{120,108}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian17.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1037},{92,104}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{92,104}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian18.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,936},{72,96}}</string>
                <key>offset</key>
                <string>{58,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian19.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,732},{96,94}}</string>
                <key>offset</key>
                <string>{71,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian20.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,732},{96,94}}</string>
                <key>offset</key>
                <string>{71,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian21.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1049},{114,92}}</string>
                <key>offset</key>
                <string>{81,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian22.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,635},{114,74}}</string>
                <key>offset</key>
                <string>{81,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,12},{114,74}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian23.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,868},{114,52}}</string>
                <key>offset</key>
                <string>{81,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,33},{114,52}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian24.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,899},{110,28}}</string>
                <key>offset</key>
                <string>{83,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,56},{110,28}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian25.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,648},{84,22}}</string>
                <key>offset</key>
                <string>{96,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,57},{84,22}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian26.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,648},{84,22}}</string>
                <key>offset</key>
                <string>{96,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,57},{84,22}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
            <key>quxian27.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,827},{74,12}}</string>
                <key>offset</key>
                <string>{101,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,59},{74,12}}</string>
                <key>sourceSize</key>
                <string>{276,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaohutexiao.png</string>
            <key>size</key>
            <string>{1018,1143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1ebb9d9c1f33afc4ddb7b6cf4c32c8:1/1$</string>
            <key>textureFileName</key>
            <string>xiaohutexiao.png</string>
        </dict>
    </dict>
</plist>
