<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahu_chaohaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,120},{619,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{619,123}}</string>
                <key>sourceSize</key>
                <string>{619,125}</string>
            </dict>
            <key>dahu_duibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1},{210,117}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{210,117}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_jiahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1},{198,123}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{198,123}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_mengqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,116},{188,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{188,123}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_mobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1},{210,117}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{210,117}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_piaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{198,113}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{198,113}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,118},{309,121}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{309,121}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_qixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{317,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{317,115}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_quanqiuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1},{327,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{327,115}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_shuanghaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,126},{605,123}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{605,123}}</string>
                <key>sourceSize</key>
                <string>{619,125}</string>
            </dict>
            <key>dahu_xiaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1},{196,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{196,119}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dahu.png</string>
            <key>size</key>
            <string>{1729,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e80319399060ed482662c769e001adc:d84c27cac8362242288edd124b382dae:85679d7ba39948a0aea9049c24bf6aec$</string>
            <key>textureFileName</key>
            <string>dahu.png</string>
        </dict>
    </dict>
</plist>
