target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
###ddz##
.idea/
cocosstudio/
frameworks/
GlyohDesFont/
HotUpdate/
nebulas/
pomelo-cocos2d-js/
pomelo-cocos2d-jsb/
weblaunch/



