<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahu_chaohaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{619,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{619,123}}</string>
                <key>sourceSize</key>
                <string>{619,125}</string>
            </dict>
            <key>dahu_ganghoupao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,376},{321,117}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{321,117}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_gangkaihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{321,117}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{321,117}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_haohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{511,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{511,123}}</string>
                <key>sourceSize</key>
                <string>{519,125}</string>
            </dict>
            <key>dahu_jiahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,358},{198,123}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{198,123}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_loubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,376},{208,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{208,117}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_mengqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,358},{188,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{188,123}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_piaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,483},{198,113}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{198,113}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,235},{309,121}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{309,121}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_qixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,118},{317,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{317,115}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_quanqiuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1},{327,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{327,115}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_shuanghaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{605,123}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{605,123}}</string>
                <key>sourceSize</key>
                <string>{619,125}</string>
            </dict>
            <key>dahu_tongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,376},{208,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{208,115}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_xiaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,358},{196,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{196,119}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dahu.png</string>
            <key>size</key>
            <string>{1005,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:461ccc1b6bfce237aca869df20bd7efa:887430055c112f180133c3e32e72bd83:85679d7ba39948a0aea9049c24bf6aec$</string>
            <key>textureFileName</key>
            <string>dahu.png</string>
        </dict>
    </dict>
</plist>
