<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>THS_TB_chuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,338}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{295,338}}</string>
                <key>sourceSize</key>
                <string>{297,340}</string>
            </dict>
            <key>THS_TX_shui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{234,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,61}}</string>
                <key>sourceSize</key>
                <string>{236,63}</string>
            </dict>
            <key>zi_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{193,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,95}}</string>
                <key>sourceSize</key>
                <string>{193,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_shunzi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d9bc5bb60a5f6de1dc9eb28c1bca859:14b5098b722b854061b1a2d554278a7c:03e99c67ff0782c5fe21236803eea416$</string>
            <key>textureFileName</key>
            <string>ef_shunzi.png</string>
        </dict>
    </dict>
</plist>
