<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,370},{204,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{204,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>btn_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,319},{155,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{155,133}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,866},{155,137}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{155,137}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,476},{155,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{155,133}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,727},{155,137}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{155,137}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,633},{155,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{155,133}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,158},{159,133}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{159,133}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,711},{153,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,141}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_piao.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,866},{155,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{155,133}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,120},{212,125}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>btn_shuangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{200,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{200,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1},{155,131}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{155,131}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>btn_youjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,120},{214,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{214,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>btn_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,727},{180,125}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{180,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,365},{114,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{114,98}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,896},{114,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>dahu_buzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,247},{210,121}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{210,121}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_hule.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,610},{182,115}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{182,115}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,360},{206,119}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{206,119}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_sanjindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{305,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{305,117}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{212,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{212,111}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_shuangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,497},{200,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{200,111}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_youjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1},{220,117}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{220,117}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,608},{190,113}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{190,113}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,597},{112,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,481},{114,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,110}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,896},{106,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,247},{98,116}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{98,116}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,896},{116,106}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{116,106}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>piao.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,120},{94,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{94,112}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,790},{104,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>control_word.png</string>
            <key>size</key>
            <string>{662,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519b2c775b454ab306a98e3eecba28ad:1b3a8142e78846b51e1fee5a9046d95e:b98705760bbc582554891874ae63255c$</string>
            <key>textureFileName</key>
            <string>control_word.png</string>
        </dict>
    </dict>
</plist>
