<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahu_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1},{269,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,118}}</string>
                <key>sourceSize</key>
                <string>{269,118}</string>
            </dict>
            <key>dahu_qixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,271},{191,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,111}}</string>
                <key>sourceSize</key>
                <string>{191,111}</string>
            </dict>
            <key>dahu_xiaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1},{193,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,119}}</string>
                <key>sourceSize</key>
                <string>{193,119}</string>
            </dict>
            <key>dahu_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,384},{174,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,109}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>sanjindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{275,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,111}}</string>
                <key>sourceSize</key>
                <string>{275,111}</string>
            </dict>
            <key>sanjindao_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1},{185,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,83}}</string>
                <key>sourceSize</key>
                <string>{185,83}</string>
            </dict>
            <key>sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,278},{194,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,107}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>sanyou_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,188},{127,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,81}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
            <key>shuangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,278},{195,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,106}}</string>
                <key>sourceSize</key>
                <string>{195,106}</string>
            </dict>
            <key>shuangyou_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,122},{127,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,81}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
            <key>youjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,272},{194,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,106}}</string>
                <key>sourceSize</key>
                <string>{194,106}</string>
            </dict>
            <key>youjin_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{127,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,81}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dahu.png</string>
            <key>size</key>
            <string>{537,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3233edd3c4c09cff7ac3d402784bd618:478c44a463c4ea8d519b531cf31a12fa:85679d7ba39948a0aea9049c24bf6aec$</string>
            <key>textureFileName</key>
            <string>dahu.png</string>
        </dict>
    </dict>
</plist>
