<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QZMJ_BuhuaStatus_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,452},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,474},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,496},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,518},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,540},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,562},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,584},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,606},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,628},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_J2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,650},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_BuhuaStatus_J3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,672},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>QZMJ_sy_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,631},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>QZMJ_sy_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,752},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>QZMJ_sy_txt_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,528},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>banker_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,698},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>best_gunner_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,655},{151,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,95}}</string>
                <key>sourceSize</key>
                <string>{151,95}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,851},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>buhua-hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,941},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>buhua-hua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,917},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>buhua-hua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,941},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>buhua-hua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,367},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>buhua-hua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,238},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>buhua-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,578},{156,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,81}}</string>
                <key>sourceSize</key>
                <string>{156,81}</string>
            </dict>
            <key>button_chatt.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,851},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>button_speakk.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,851},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>gold_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,386},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>gold_Icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,408},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>headallbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{132,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,170}}</string>
                <key>sourceSize</key>
                <string>{132,170}</string>
            </dict>
            <key>hudejiaobiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,430},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>laoyue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,238},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>liuju_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,350},{176,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,107}}</string>
                <key>sourceSize</key>
                <string>{176,107}</string>
            </dict>
            <key>majhong_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,941},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>mj_big_winner_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,173},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>mj_chakanzongchengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{277,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,94}}</string>
                <key>sourceSize</key>
                <string>{277,94}</string>
            </dict>
            <key>mj_endHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,863},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>mj_fanhuidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,386},{244,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,94}}</string>
                <key>sourceSize</key>
                <string>{244,94}</string>
            </dict>
            <key>mj_jiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,482},{244,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,94}}</string>
                <key>sourceSize</key>
                <string>{244,94}</string>
            </dict>
            <key>mj_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,651},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>mj_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,578},{159,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,75}}</string>
                <key>sourceSize</key>
                <string>{159,75}</string>
            </dict>
            <key>mj_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{267,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,95}}</string>
                <key>sourceSize</key>
                <string>{267,95}</string>
            </dict>
            <key>mj_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{277,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,94}}</string>
                <key>sourceSize</key>
                <string>{277,94}</string>
            </dict>
            <key>mj_zhuanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{277,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,94}}</string>
                <key>sourceSize</key>
                <string>{277,94}</string>
            </dict>
            <key>mj_zongchengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,994},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>msg_bubble_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,797},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>msg_bubble_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,797},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>msg_bubble_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,774},{71,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,52}}</string>
                <key>sourceSize</key>
                <string>{71,52}</string>
            </dict>
            <key>msg_bubble_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,847},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>off_line_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,536},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>outmjtile_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,455},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_scene_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,752},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>roving1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,742},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>roving2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,736},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>roving3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,736},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>tip_sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,797},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>tip_shuangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,797},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>tip_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,502},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>tip_youjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,941},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,238},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xinhao001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,268},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>xinhao002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,301},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>xinhao004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,334},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>xinhao005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,601},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>xinhao006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,626},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>xinhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,804},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>xinhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,950},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>xinhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,950},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>xinhao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,968},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>yyTishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,421},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>table_other.png</string>
            <key>size</key>
            <string>{420,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:880b90b37621f54608e2baf2b3115410:0fca9004961a93987e539ffe936da63f:ac39ec305fd2078daa5256eae79963cd$</string>
            <key>textureFileName</key>
            <string>table_other.png</string>
        </dict>
    </dict>
</plist>
