<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuezhan_point0.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{21,21}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,21}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>xuezhan_point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1},{43,21}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,21}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>xuezhan_point2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{67,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,21}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>point.png</string>
            <key>size</key>
            <string>{137,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d819dbf5435a767aff4ef08cf02a99:08507fe637386f2fafd2c6b909619abe:cce8772aead9d3c3d84d37f82c72d0ef$</string>
            <key>textureFileName</key>
            <string>point.png</string>
        </dict>
    </dict>
</plist>
