<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quan-animation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{124,127}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{124,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,257},{120,127}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{120,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,732},{124,119}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{124,119}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{126,119}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{126,119}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,853},{124,117}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{124,117}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,513},{124,123}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{124,123}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,386},{122,125}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{122,125}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{118,127}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{118,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,363},{118,127}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{118,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,365},{116,127}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{116,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,372},{116,127}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{116,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,483},{116,127}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{116,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,239},{124,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{124,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,727},{120,125}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,601},{124,125}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{124,125}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,490},{126,125}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{126,125}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,123}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{128,123}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{128,119}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{128,119}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{128,115}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{128,115}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,118},{128,115}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{128,115}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,122},{128,115}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{128,115}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,483},{126,123}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{126,123}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,235},{126,127}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{126,127}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{124,125}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,608},{122,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{122,125}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,853},{118,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{118,123}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,743},{124,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{124,123}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,639},{124,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{124,123}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,129},{126,119}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{126,119}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>quan-animation_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,764},{124,119}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{124,119}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quan.png</string>
            <key>size</key>
            <string>{511,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59064ebdb1307c97539fe06f1ac73f0a:dfa2f58201a84bd933911eb1798d29d1:137e989b2a14c8ccf91a8d62ba9bd7f6$</string>
            <key>textureFileName</key>
            <string>quan.png</string>
        </dict>
    </dict>
</plist>
