<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xzrain_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,1453},{158,44}}</string>
                <key>offset</key>
                <string>{8,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{158,44}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,521},{164,252}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{164,252}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,303},{250,288}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{250,288}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,463},{226,288}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{226,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1797},{210,280}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{210,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,775},{212,280}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{212,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1499},{218,286}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{218,286}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,973},{220,278}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{220,278}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1},{236,286}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,286}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,263},{170,256}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{170,256}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,239},{222,292}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{222,292}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1499},{232,296}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{232,296}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1185},{236,288}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{236,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1447},{228,282}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{228,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,239},{230,284}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{230,284}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1475},{230,284}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{230,284}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,471},{232,288}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{232,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1473},{234,284}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{234,284}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1},{236,290}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{236,290}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,691},{236,280}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{236,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,593},{248,284}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,284}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,897},{250,286}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,286}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,605},{250,290}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,290}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,593},{240,282}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{240,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,705},{236,280}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{236,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1761},{244,280}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{244,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1161},{238,282}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1185},{234,286}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,286}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1787},{220,286}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1161},{226,284}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{226,284}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1},{180,260}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{180,260}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1453},{230,272}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{230,272}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,943},{234,270}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{234,270}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1729},{228,272}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{228,272}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1221},{230,274}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{230,274}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1453},{232,274}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{232,274}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1215},{234,276}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{234,276}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,989},{230,278}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{230,278}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1729},{240,278}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{240,278}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,879},{248,280}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1},{250,280}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,605},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1759},{242,282}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,877},{242,282}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1445},{236,282}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{236,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,575},{242,282}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{242,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,283},{246,282}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{246,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,291},{250,282}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,282}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1731},{240,276}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{240,276}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1195},{236,278}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{236,278}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,859},{240,280}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,303},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,907},{250,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>xzrain_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1209},{250,288}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rain.png</string>
            <key>size</key>
            <string>{2042,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451f8ecc5b47779c855ddde04fbbf518:8e11245fb2fae079090e4b310eadc926:baef629f7de0e08c0ea0dadb3f0a7c27$</string>
            <key>textureFileName</key>
            <string>rain.png</string>
        </dict>
    </dict>
</plist>
