<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_xi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,135},{131,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{131,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,395},{131,127}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{131,127}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,395},{131,127}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,135},{131,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,129}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{131,131}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,266},{131,127}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{131,127}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_xi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,266},{131,127}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_biaoqin_xi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b76496e5b87dc7c770b40d20e3a5ec:1/1$</string>
            <key>textureFileName</key>
            <string>ef_biaoqin_xi.png</string>
        </dict>
    </dict>
</plist>
