<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_ai_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{83,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{83,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{85,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{85,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,129},{89,125}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{89,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{99,125}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{99,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{87,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{85,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{85,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{83,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{83,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,256},{83,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{83,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{83,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{83,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_ai_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,256},{83,127}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{83,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_biaoqin_ai.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c46aeeb7757f18d552f45ed6aaa8b619:1/1$</string>
            <key>textureFileName</key>
            <string>ef_biaoqin_ai.png</string>
        </dict>
    </dict>
</plist>
