<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_nu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{99,115}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{99,115}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_nu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,139},{101,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{101,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_nu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,135}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{107,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_nu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{97,133}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{97,133}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_nu_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,135}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{107,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>ef_nu_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,139},{101,127}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{101,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_biaoqin_nu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e58a86665097d87244e06e861250529:1/1$</string>
            <key>textureFileName</key>
            <string>ef_biaoqin_nu.png</string>
        </dict>
    </dict>
</plist>
