<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_jiesuan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,117}}</string>
                <key>sourceSize</key>
                <string>{576,117}</string>
            </dict>
            <key>ef_jiesuan_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{270,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,162}}</string>
                <key>sourceSize</key>
                <string>{270,162}</string>
            </dict>
            <key>ef_jiesuan_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{337,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,324}}</string>
                <key>sourceSize</key>
                <string>{337,324}</string>
            </dict>
            <key>ef_jiesuan_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,274},{260,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,149}}</string>
                <key>sourceSize</key>
                <string>{260,149}</string>
            </dict>
            <key>ef_jiesuan_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{259,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,149}}</string>
                <key>sourceSize</key>
                <string>{259,149}</string>
            </dict>
            <key>ef_jiesuan_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,425},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winResult.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4202488f0ff4545fb930b378cdbe770:1/1$</string>
            <key>textureFileName</key>
            <string>winResult.png</string>
        </dict>
    </dict>
</plist>
