<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baosanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,850},{299,119}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{299,119}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_ganghoupao.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,233},{321,117}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{321,117}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_gangshangkaihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,128},{325,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{325,123}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_hule.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,802},{182,115}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{182,115}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_limeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,118},{200,113}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{200,113}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_piaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,687},{200,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{200,113}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{309,121}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{309,121}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>dahu_qixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1},{214,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{214,115}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahu_xiaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,802},{196,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{196,119}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>dahushoubayi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,366},{311,119}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{311,119}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>hunyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,735},{301,113}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{301,113}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{319,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{319,111}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>sanhuatongshun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{393,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{393,125}}</string>
                <key>sourceSize</key>
                <string>{409,125}</string>
            </dict>
            <key>sanjiaqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,610},{303,123}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{303,123}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>shisanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,582},{305,103}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{305,103}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>siguiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,352},{313,101}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{313,101}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>sijiaqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,687},{303,123}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{303,123}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
            <key>yibangao.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,455},{309,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{309,125}}</string>
                <key>sourceSize</key>
                <string>{327,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dahu.png</string>
            <key>size</key>
            <string>{668,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cc43e620f2e7cae791b6718fee64a9f:b3392e9cd35c83ccb573d6ee34c1ee59:85679d7ba39948a0aea9049c24bf6aec$</string>
            <key>textureFileName</key>
            <string>dahu.png</string>
        </dict>
    </dict>
</plist>
