<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_chouma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
            <key>img_chouma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,369},{116,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>img_chouma_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,164},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>img_chouma_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{114,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,121}}</string>
                <key>sourceSize</key>
                <string>{114,121}</string>
            </dict>
            <key>img_chouma_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{114,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,125}}</string>
                <key>sourceSize</key>
                <string>{114,125}</string>
            </dict>
            <key>sss_alarm_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,369},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>sss_banker_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,260},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>sss_banker_sign_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,137},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>sss_bet-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,341},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>sss_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,413},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>sss_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>sss_fengshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,119},{149,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,43}}</string>
                <key>sourceSize</key>
                <string>{149,43}</string>
            </dict>
            <key>sss_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1},{116,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,163}}</string>
                <key>sourceSize</key>
                <string>{116,163}</string>
            </dict>
            <key>sss_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,181}}</string>
                <key>sourceSize</key>
                <string>{134,181}</string>
            </dict>
            <key>sss_mapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,246},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>sss_offline_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,181},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>sss_roomInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,87},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>sss_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,173},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>sss_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,286},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>sss_speakk.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,286},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>desk_ui.png</string>
            <key>size</key>
            <string>{431,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73021e7b32f0c4542568b451a69c885b:c9141b8e217179c9cb5ac7927ad177e3:65647e299c49257e198beabd3ce41ced$</string>
            <key>textureFileName</key>
            <string>desk_ui.png</string>
        </dict>
    </dict>
</plist>
