<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoji_1-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1},{113,123}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{113,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_1-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,472},{113,123}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{113,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_10-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,279},{117,131}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{117,131}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_10-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,386},{107,121}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{107,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_10-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,630},{113,103}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,51},{113,103}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_10-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,509},{105,119}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{105,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,636},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{123,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_11-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,821},{121,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{121,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,771},{121,121}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{121,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,648},{121,121}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{121,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,771},{121,121}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{121,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,771},{123,121}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{123,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,725},{121,121}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{121,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{153,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{153,157}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{153,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{153,157}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{153,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{153,157}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_12-obj-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,771},{121,121}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{121,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,319},{123,151}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{123,151}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{123,149}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{123,149}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,319},{123,151}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{123,151}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{123,149}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{123,149}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,319},{123,151}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{123,151}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1},{143,165}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{143,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_13-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{159,139}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{159,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,386},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,386},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,398},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,398},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,517},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,517},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_14-obj-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,515},{127,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{127,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,126},{123,129}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{123,129}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,771},{123,123}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{123,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1},{123,137}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{123,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,156},{123,129}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{123,129}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_15-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,257},{123,127}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{123,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_16-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1},{121,145}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{121,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_16-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{129,153}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{129,153}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_17-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,124},{127,137}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{127,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_17-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,126},{127,135}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{127,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_17-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,780},{127,139}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{127,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_18-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,142},{111,137}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{111,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_18-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,142},{111,137}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{111,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,475},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,600},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,509},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,634},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,509},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,587},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,646},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,646},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_2-obj-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,712},{125,123}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{125,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,587},{115,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{115,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,878},{115,117}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{115,117}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,587},{115,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{115,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,704},{115,113}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,41},{115,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,894},{115,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{115,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,761},{115,117}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{115,117}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,894},{115,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{115,113}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_3-obj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,880},{115,115}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{115,115}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_4-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,356},{117,131}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{117,131}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_4-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,837},{117,125}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,30},{117,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_5-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,759},{115,121}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{115,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_5-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,646},{115,123}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{115,123}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,894},{111,119}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{111,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,894},{111,119}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{111,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,527},{119,127}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{119,127}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,388},{119,131}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{119,131}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,894},{111,119}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,37},{111,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,896},{111,121}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,33},{111,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,848},{111,119}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{111,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_6-obj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,876},{111,119}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{111,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,761},{115,121}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{115,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,761},{115,121}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{115,121}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,168},{149,137}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{149,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,480},{147,133}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{147,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,255},{131,125}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{131,125}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_7-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,464},{109,109}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{109,109}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,142},{131,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{131,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,142},{131,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{131,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{135,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{135,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,142},{131,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{131,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{135,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{135,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,255},{131,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{131,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1},{135,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{135,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,255},{131,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{131,135}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_8-obj-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1},{135,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{135,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_9-obj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,253},{101,137}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,20},{101,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_9-obj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,275},{109,133}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{109,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>emoji_9-obj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,319},{109,143}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{109,143}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{1381,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b910673f9efc37b6dc7142bb76b1d10c:572ebec1bc9f0d7bcc7e9fa33d3a8ba0:4ec14ac0cf4724fb75b15ad0d1f4335a$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
