<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_quan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hall_quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,58},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hall_quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,282},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hall_quan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hall_quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,172},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>hall_quan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btnEffect.png</string>
            <key>size</key>
            <string>{57,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2123b7c9beee0eeab1796f5916bf43ae:2e4cddb99f871211dcc32180fafffc7e:f05b33e05126d4f8ef0981db97894db5$</string>
            <key>textureFileName</key>
            <string>btnEffect.png</string>
        </dict>
    </dict>
</plist>
