<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{196,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,85}}</string>
                <key>sourceSize</key>
                <string>{196,85}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,356},{126,128}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{126,128}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>common_likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>common_msg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,445},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>common_msg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,426},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>common_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,426},{93,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>common_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,260},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>common_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>common_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,86},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,445},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>female.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,341},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>guanbi-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,445},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{62,65}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,445},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{62,65}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>id.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,486},{36,23}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,23}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>img_diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,427},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>img_diamond_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,171},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>male.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,341},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>public_frame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qdann.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,86},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>queding-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,171},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>quxiao-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,256},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,171},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,256},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>sex_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,331},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>sex_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,379},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>shengfengzhenghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1},{112,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,25}}</string>
                <key>sourceSize</key>
                <string>{112,25}</string>
            </dict>
            <key>xingming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,486},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,341},{197,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,83}}</string>
                <key>sourceSize</key>
                <string>{197,83}</string>
            </dict>
            <key>zengsongid.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,171},{87,25}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>zengsongshuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,115},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{582,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6401a977e2596ad4a47f0fe82a87d350:7d1f7929047f06b5776638680d91ee13:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
