<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,934},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>img_bangdingyaoqingma.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,187},{179,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{179,40}}</string>
                <key>sourceSize</key>
                <string>{183,42}</string>
            </dict>
            <key>img_duihukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,378},{218,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{218,186}}</string>
                <key>sourceSize</key>
                <string>{218,188}</string>
            </dict>
            <key>img_duihukuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{398,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{398,68}}</string>
                <key>sourceSize</key>
                <string>{404,74}</string>
            </dict>
            <key>img_gerenxingxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{183,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{183,51}}</string>
                <key>sourceSize</key>
                <string>{187,53}</string>
            </dict>
            <key>img_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,129}}</string>
                <key>sourceSize</key>
                <string>{662,129}</string>
            </dict>
            <key>img_linshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{266,414}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,414}}</string>
                <key>sourceSize</key>
                <string>{266,424}</string>
            </dict>
            <key>img_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,566},{225,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,32}}</string>
                <key>sourceSize</key>
                <string>{225,32}</string>
            </dict>
            <key>img_shurukuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{133,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,374}}</string>
                <key>sourceSize</key>
                <string>{133,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ab6585fa97152319f8640cd082fb60:1/1$</string>
            <key>textureFileName</key>
            <string>new_ui.png</string>
        </dict>
    </dict>
</plist>
