<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{69,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,106}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
            <key>img_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,262},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>mahjong_play_table_clock_aperture.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,206},{67,53}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,25},{67,53}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{209,115}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_clock_current_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,73},{187,101}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{187,101}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_clock_current_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{189,101}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{189,101}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_clock_current_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{189,99}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{189,99}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_clock_current_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,105},{189,99}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{189,99}}</string>
                <key>sourceSize</key>
                <string>{211,117}</string>
            </dict>
            <key>mahjong_play_table_info_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,240},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>mahjong_play_table_info_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,206},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>mahjong_play_table_info_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,295},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mahjong_play_table_info_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,206},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>mahjong_play_table_info_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,206},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>mahjong_play_table_info_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,285},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mahjong_play_table_info_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,274},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>mahjong_play_table_info_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,262},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>mahjong_play_table_info_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,262},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>mahjong_play_table_info_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,242},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>mahjong_play_table_info_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,242},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>mahjong_play_table_info_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,262},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableclock.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:119a4de8b5152238ed51f591fdc7e9dd:1/1$</string>
            <key>textureFileName</key>
            <string>tableclock.png</string>
        </dict>
    </dict>
</plist>
