<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DDZ0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,630},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,630},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x010.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1842},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1624},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1406},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1188},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,970},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,752},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1842},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1624},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1406},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x0j.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1188},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x0k.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,970},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x0q.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,752},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,595},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,473},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1685},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1467},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1249},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x1j.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1031},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,813},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x1q.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,595},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,377},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,316},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x2j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x2k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x2q.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x310.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1685},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1467},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1249},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1031},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,813},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,595},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,377},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x3j.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,159},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x3k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x3q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,630},{153,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ0x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZ1x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>DDZLZ_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4210f317797ddc6b4515b415c7bee04a:fd82c0cdf939ad79c67821f5a5f2b4df:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
