<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MaxCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{924,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{924,43}}</string>
                <key>sourceSize</key>
                <string>{924,43}</string>
            </dict>
            <key>Room_HeadFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,105},{114,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,166}}</string>
                <key>sourceSize</key>
                <string>{114,166}</string>
            </dict>
            <key>btn_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,927},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>btn_lt_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,927},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>btn_yuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,927},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>btn_yuyin_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,927},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>chat_bg_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,748},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>chat_bg_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,808},{78,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>duanx.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,868},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,811},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>firstcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{416,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,31}}</string>
                <key>sourceSize</key>
                <string>{416,31}</string>
            </dict>
            <key>head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,425},{102,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,125}}</string>
                <key>sourceSize</key>
                <string>{102,125}</string>
            </dict>
            <key>head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,529},{102,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,125}}</string>
                <key>sourceSize</key>
                <string>{102,125}</string>
            </dict>
            <key>head_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,966},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>jcfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,749},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{584,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,102}}</string>
                <key>sourceSize</key>
                <string>{584,102}</string>
            </dict>
            <key>lord_btn_nobig_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,664},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>lord_btn_nobig_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,425},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>lord_btn_product_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,664},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>lord_btn_product_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,425},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>lord_btn_product_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{237,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,92}}</string>
                <key>sourceSize</key>
                <string>{237,92}</string>
            </dict>
            <key>lord_btn_prompt_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,664},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>lord_btn_prompt_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,425},{237,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,90}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>lord_btn_prompt_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,425},{237,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,92}}</string>
                <key>sourceSize</key>
                <string>{237,92}</string>
            </dict>
            <key>lord_btn_trustrobot_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,138},{302,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,98}}</string>
                <key>sourceSize</key>
                <string>{302,98}</string>
            </dict>
            <key>lord_btn_trustrobot_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,238},{302,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,98}}</string>
                <key>sourceSize</key>
                <string>{302,98}</string>
            </dict>
            <key>naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,966},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>player_baodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,966},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>player_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,697},{92,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{92,50}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>player_yaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,808},{90,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{90,50}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,633},{93,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>ready_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,221},{276,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,100}}</string>
                <key>sourceSize</key>
                <string>{276,100}</string>
            </dict>
            <key>ready_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,323},{276,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,100}}</string>
                <key>sourceSize</key>
                <string>{276,100}</string>
            </dict>
            <key>room_default_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,663},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>shangshoupai-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,927},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>shangshoupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,138},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,749},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tips_outerror.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,927},{214,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{214,37}}</string>
                <key>sourceSize</key>
                <string>{244,39}</string>
            </dict>
            <key>wxfx_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,338},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>wxfx_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pdkTable.png</string>
            <key>size</key>
            <string>{631,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba33a75e6a489cf0ee9e7a11f8132aec:21cc2a6a8bb14be2f0ab0ece076f0fe0:a040e8914b1f66dabc4330cfb66d837e$</string>
            <key>textureFileName</key>
            <string>pdkTable.png</string>
        </dict>
    </dict>
</plist>
