<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xzwind_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,512},{3,3}}</string>
                <key>offset</key>
                <string>{-128.5,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,512},{3,3}}</string>
                <key>offset</key>
                <string>{-128.5,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1},{142,135}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{142,135}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,855},{158,143}}</string>
                <key>offset</key>
                <string>{-32,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{158,143}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,679},{174,155}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{174,155}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{184,167}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{184,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{188,173}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{188,173}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,169}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{192,167}}</string>
                <key>offset</key>
                <string>{-34,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,172},{194,169}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,852},{126,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{126,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,319},{124,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,959},{36,45}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,86},{36,45}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,445},{122,169}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,678},{118,169}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{118,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,683},{114,167}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{114,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,168},{120,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{120,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,555},{118,167}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{118,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,170},{124,169}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,296},{122,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,556},{120,167}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{120,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,849},{124,167}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{124,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,849},{132,167}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{132,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,555},{46,57}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,78},{46,57}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,849},{132,167}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{132,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,420},{134,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{134,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,852},{124,171}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{124,171}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,556},{120,169}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{120,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,678},{128,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{128,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,678},{130,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{130,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,290},{124,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,315},{124,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,678},{132,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{132,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,675},{132,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{132,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,569},{52,61}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,73},{52,61}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,846},{126,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{126,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,425},{126,169}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{126,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,596},{118,169}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{118,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1},{186,169}}</string>
                <key>offset</key>
                <string>{34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{186,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1},{186,167}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{186,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1},{186,159}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,9},{186,159}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,512},{186,169}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,2},{186,169}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,176},{186,165}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,9},{186,165}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,512},{184,165}}</string>
                <key>offset</key>
                <string>{38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,10},{184,165}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,343},{184,167}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{184,167}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,886},{56,63}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,68},{56,63}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1},{184,165}}</string>
                <key>offset</key>
                <string>{38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,10},{184,165}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,855},{184,157}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,13},{184,157}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,162},{182,151}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,13},{182,151}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,172},{174,145}}</string>
                <key>offset</key>
                <string>{34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,12},{174,145}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,259},{164,139}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,12},{164,139}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,145},{112,135}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,11},{112,135}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,441},{112,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,13},{112,135}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,441},{112,135}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,13},{112,135}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,315},{68,33}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,114},{68,33}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,886},{62,71}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,61},{62,71}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,569},{120,107}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,56},{120,107}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,767},{126,117}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{126,117}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
            <key>xzwind_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,420},{134,127}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,42},{134,127}}</string>
                <key>sourceSize</key>
                <string>{260,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wind.png</string>
            <key>size</key>
            <string>{1273,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd863f5de3b51a1221d55250f5da3454:6392af5a3f6e7ec74311fe707d153702:5f051b70d6983df23ae320420545ef25$</string>
            <key>textureFileName</key>
            <string>wind.png</string>
        </dict>
    </dict>
</plist>
